---
import NavBar from "./Navbar.astro"
---

<NavBar />

<section class="relative w-full h-[60vh] overflow-hidden pt-16">
  <video autoplay muted loop playsinline class="w-full h-full object-cover object-center absolute top-0 left-0 z-[-1]">
    <source src="/assets/mashhead.mp4" type="video/mp4" />
  </video>
</section>

<section class="py-16 px-6 md:px-16 flex flex-col md:flex-row justify-center md:justify-between items-center gap-12">
  <!-- Left: Typing -->
  <div class="w-full md:w-1/2 text-center md:text-left">
    <h1 class="text-2xl sm:text-3xl lg:text-4xl font-bold text-(--color-text)">
  <span id="typewriter"></span>
  <span class="border-r-2 border-(--color-text) animate-blink ml-1"></span>
</h1>
    <p class="text-xl sm:text-2xl pt-8">I live in Thailand, I educate at KMUTNB (King Mongkut's University of North Bangkok).</p>
    <p class="text-xl sm:text-2xl pt-3">I am a Full-stack Developer, I made many projects and collaborated with other countries.</p>
    <p class="text-xl sm:text-2xl pt-3">I hope visitors enjoy my site!</p>
  </div>

  <!-- Right: Model -->
  <div class="w-full md:w-1/2 flex justify-center">
  <div id="threejs-container" class="w-[90vw] md:w-[45vw] max-w-[700px] aspect-3/2"></div>
</div>
</section>


<script type="module" src="/js/HeroEffect.js"></script>
<script type="module" src="/dist/model.js"></script>



<style>
  #threejs-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
</style>







